fastapi>=0.111.0
uvicorn[standard]>=0.23.2
sqlalchemy>=2.0.29
pydantic[email]>=2.7.0
email-validator>=2.1.0
python-jose[cryptography]>=3.3.0
bcrypt>=4.0.1
python-multipart>=0.0.9
passlib[bcrypt]>=1.7.4

# Tests
pytest>=8.1.1
pytest-asyncio>=0.23.6
httpx>=0.24.1
